[cs240]
course_config_file = testCourse.config
course_path = some/path/to/course/dir
user_group = cs240students

[cs241]
course_config_file = testCourse.config
course_path = some/path/to/course/dir1
user_group = cs241students

[cs242]
course_config_file = testCourse.config
course_path = some/path/to/course/dir2
user_group = cs242students

[cs243]
course_config_file = testCourse.config
course_path = some/path/to/course/dir3
user_group = cs243students

